.footer {
  width: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: black;
  border-top-width: 1px;
  border-top-color: white;
  border-top-style: solid;
  padding: 5px 0;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6px;
}

.footer-bot {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-close {
  margin-top: 6px;
  width: 100px;
}